@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  @apply font-roboto font-normal cursor-pointer text-[16px] text-black
}
.main {
  background-image: url(./assets/main_background_1.png);
  height: 700px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}
.button {
   @apply w-[300px] bg-transparent font-roboto text-white text-[20px] text-center font-bold border-[1px] border-solid uppercase py-4 px-6;

}

input {
  @apply bg-[#F2F2F2] h-[60px] rounded-md font-poppins px-5;
}

textarea {
  @apply pl-[10px] w-[644px] h-[159px] mt-[8px] bg-[#F2F2F2] rounded-md pt-[10px];
}

.button_contact {
  @apply w-[100px] font-poppins text-[#c9c9c9] text-[15px] text-center border-[1px] border-solid uppercase py-4 px-6 border-[#c9c9c9]
}
.button_contact:hover {
  @apply font-semibold bg-black text-white transition-all duration-300 ease-in-out;
}

.banner {
  background-image: url(./assets/banner.png);
}